<div class="row">
  <h3 class="mr-auto">Gestion des utilisateurs</h3>
  <button [routerLink]="['/create-user']" class="btn btn-outline-success ml-auto">Ajouter un utilisateur</button>
</div>

<hr>

<div class="row">
  <div class="col-md-3">
    <input type="text" class="form-control" placeholder="Recherche">
    <br>
    <div class="list-group user-list">
      <a (click)="showDetail(user)" class="list-group-item list-group-item-action"
         [class.active]="selectedUser === user"
         *ngFor="let user of users">{{ user.firstname }} {{ user.lastname }}</a>
    </div>
  </div>

  <div class="col-md-9">
    <app-user-detail *ngIf="selectedUser" [user]="selectedUser" (deleteUser)="deleteUser()"></app-user-detail>

    <section class="jumbotron text-center no-user-select" *ngIf="!selectedUser">
      <div class="container">
        <h1 class="jumbotron-heading">Consultation d'un utilisateur</h1>
        <p class="lead text-muted">Si vous voulez consulter un utilisateur, cliquer sur celui de votre choix dans la liste à gauche.</p>
      </div>
    </section>

  </div>

</div>
