/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/css/font-awesome.css";

.btn {
  border-radius: 0;
}

.list-group-item-action {
  cursor: pointer;

  &.active {
    color: #ffffff !important;
  }
}

.form-control {
  &.ng-touched {
    &.ng-invalid {
      @extend .is-invalid;
    }

    &.ng-valid {
      @extend .is-valid;
    }
  }
}

.modal {
  .modal-content {
    border-radius: 0;
  }

  .modal-header {
    border-radius: 0;
  }

  &.modal-primary {
    .modal-header {
      background-color: $primary;
      color: #ffffff;
    }
  }

  &.modal-info {
    .modal-header {
      background-color: $info;
      color: #ffffff;
    }
  }

  &.modal-success {
    .modal-header {
      background-color: $success;
      color: #ffffff;
    }
  }

  &.modal-warning {
    .modal-header {
      background-color: $warning;
      color: #ffffff;
    }
  }

  &.modal-danger {
    .modal-header {
      background-color: $danger;
      color: #ffffff;
    }
  }
}
